html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #60aaab;
  color: #fff;
  font-family: sans-serif;
}

.page-post {
  background-color: #553159;
}

.page-resultado {
  background-color: #4f9e58;
}
.page-get {
  background-color: #dd5151;
}

.navegacion {
  padding: 10px;
  text-align: right;
  background-color: rgba(255,255,255,.05);
  font-size: .9em;
}

.navegacion, .navegacion a {
  color: #fff;
  text-decoration: none;
}

  .unaclase {
    width: 100%;
    max-width: 400px;
    height: 100%;
    padding: 30px 15px;
    text-align: center;
    margin: 0 auto;
  }

.unaclase h2 {
  font-size: 1.5em;
  margin-bottom: 40px;
}

input {
  border: 1px solid #fff;
  color: #fff;
  background: none;
  padding: 1em;
  border-radius: 8px;
  width: 90%;
  margin-bottom: 20px;;
}

.submit {
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 25px;
  padding: 1em 2.5em;
  display: inline-block;
  margin-left: 0 auto;
  max-width: 200px;
  margin-top: 20px;
}

.submit:hover {
  cursor: pointer;
  color: #60aaab;
  background-color: #fff;
}

table {
  width: 100%;
  text-align: left;
}

table th, table td {
  width: 50%;
  padding: 20px 15px;
  border-bottom: 1px solid rgba(255,255,255, .4);
  text-transform: capitalize;
}

.page-get .unaclase{
  max-width: 90%;
}

.page-get table {
  background-color: rgba(255,255,255,.05);
  margin-top: 20px;
}

.page-get table th, .page-get table td {
  padding: 10px 15px;
  font-size: 14px;
}

table th {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 12px;
}
